
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/menu_template.css')}}">

<script>
    function popup_upload(){
        var popup = window.open(
            '/upload',
            'PDF file upload',
            'width=700px,height=400px,scrollbars=yes, menubar=no, location=no,toolbar=no,status=no');

        return popup;
    }
</script>
<header>
    <ul>
        <li id='upload_page_btn'>Upload PDFs</li>
        <li>Save PDF</li>
        <!-- <li style='font-size: 24px;'><b>{{fileName}}.pdf</b>&nbsp;&nbsp;&nbsp; p{{page}}</li> -->
    </ul>
</header>