<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="kr" xml:lang="kr" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>PDF Table Extractor</title>
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- <script type="text/javascript" src = "{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script> -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/upload.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='resources/jquery.selectareas.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script type="text/javascript" src="{{ url_for('static', filename='docs/js/bootstrap-3.3.2.min.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lte IE 8]><link href="../resources/jquery.selectareas.ie8.css" media="screen" rel="stylesheet" type="text/css" /> <![endif]-->
        
	<!-- <link rel="icon" href="{{ url_for('static', filename='css/image/icon.png') }}"> -->
        
        
		<script type="text/javascript">
            function close_btn(target){
                $(target).parent().remove();
                $(target).parent().find("#non-upload-box").css("display", "block");
                $("#file").val(null);
                formData.append("file", files[i]);
                // $(".extract_btn").remove();
            }

			$(document).ready(function () {
                function progress(){
                    $(".background-grey").css("display", "block");
                    $(".loading").css("display", "block");

                    var percent = document.querySelector('.percent');
                    var progress = document.querySelector('.progress2');
                    var text = document.querySelector('.text');
                    var count = 4;
                    var per = 16;
                    var loading = setInterval(getProgress, 500);

                    function getProgress(){
                        $.ajax({
                            type: 'POST',
                            url: '/getProgress',
                            xhrFields: {
                                withCredentials: true
                            },
                            success: function (data) {
                                animate(data);
                            }
                        });
                    }

                    function animate(per){
                        // console.log("count : ", count);
                        // console.log("per : ", per);
                        // console.log("\n\n");
                        if(count == 100 && per == 400){
                            percent.classList.add("text-blink");
                            text.style.display = "block";
                            clearInterval(loading);
                            // console.log("clear interval");
                        }
                        else{
                            progress.style.width = per*4 + 'px';
                            percent.textContent = per + '%';
                        }
                    }
                }

                $('.zone').on("dragover", dragOver).on("drop", uploadFiles);
                
                $("#file").change(function(e){
                    uploadFiles(e);
                });

                function dragOver(e) {
                    if($(e.target).get(0) != $('#file').get(0)){
                        e.stopPropagation();
                        e.preventDefault();
                    }

                    var dropZone = $('.zone'),
                        timeout = window.dropZoneTimeout;
                    if (!timeout) {
                        dropZone.addClass('in');
                    }
                    else {
                        clearTimeout(timeout);
                    }
                    var found = false,
                        node = e.target;

                    do {
                        if (node === dropZone[0]) {
                            found = true;
                            break;
                        }
                        node = node.parentNode;
                    } while (node != null);

                    if (found) {
                        dropZone.addClass('hover');
                    }
                    else {
                        dropZone.removeClass('hover');
                    }
                    window.dropZoneTimeout = setTimeout(function () {
                        window.dropZoneTimeout = null;
                        dropZone.removeClass('in hover');
                    }, 100);
                }

                
                var formData = new FormData();

                function uploadFiles(e) {
                    if($(e.target).get(0) != $('#file').get(0)){
                        e.stopPropagation();
                        e.preventDefault();
                        dragOver(e);
                    }
                    
                    e.dataTransfer = e.originalEvent.dataTransfer;
                    var files = e.target.files || e.dataTransfer.files;

                    selectFile(files);
                }
                
                function selectFile(fileObject){
                    var files = null;

                    if(fileObject == undefined){

                    }

                    if(fileObject != null){
                        files = fileObject;
                    }
                    else{
                        files = $("#file").files;
                    }

                    if(files != null && files[0] != undefined){
                        // if (files.length > 1){
                        //     alert('파일은 1개만 업로드할 수 있습니다.');
                        //     return;
                        // }

                        for(i=0 ; i<files.length ; i++){
                            if (files[i].type==='application/pdf') {
                                $(".zone").css({"outline": "none"});

                                var tag = '';
                                var f = files[i];
                                var fileName = f.name;
                                var fileSize = f.size / 1024 / 1024;
                                fileSize = fileSize < 1 ? fileSize.toFixed(3) : fileSize.toFixed(1);
                                tag += 
                                    "<div class='fileBox'>" +
                                        "<image src=\'{{url_for('static',filename='css/icon/pdf_icon.png')}}\'>" +
                                        "<span class='x_btn' onclick='close_btn(this);'>x</span>" +
                                        "<div >"+fileName+"<br>"+fileSize+" MB</div>" +
                                    "</div>";

                                $("#non-upload-box").css("display", "none");
                                $("#dropZ").append(tag);
                            }
                            else{
                                alert('PDF파일만 업로드할 수 있습니다.');
                                $("#file").val(null);
                                return;
                            }
                        }
                        
                        
                        $("#dropZ").append("<div class='extract_btn'>"+
                                        "Extract Tables"+
                                    "</div>");
                        

                        $('.extract_btn').click(function(){

                            for(i=0 ; i<files.length ; i++){
                                formData.append("file", files[i]);
                            }

                            opener.parent.upload_pdf(formData, files);
                        });

                    }
                }
			});
		</script>
	</head>

	<body id='body'>
        <div class="background-grey" style="display:none"></div>
        <div class="loading" style="display:none">
            <center><span style='font-size: 50px; color: white;'>Processing...</span></center>
            <div class="percent">0%</div>
            <label class="text">Completed!</label>
            <div class="progress-bar2">
                <div class="progress2"></div>
            </div>
        </div>

        <div class="zone">
            <div id="dropZ">
                <div id="non-upload-box">
                    <i class="fa fa-cloud-upload"></i>
                    <div>Drag and drop your file here</div>                    
                    <br>
                    <span>OR</span>

                    <div class="selectFile">       
                        <label for="file">Select file</label>                   
                        <input type="file" name="files[]" id="file" accept='application/pdf'>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>