<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <title>PDF Table Select Areas</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/workspace.css')}}">

		<!--[if lte IE 8]><link href="../resources/jquery.selectareas.ie8.css" media="screen" rel="stylesheet" type="text/css" /> <![endif]-->
        <script type="text/javascript" src = "{{url_for('static',filename='js/jquery-1.11.3.min.js')}}"></script>
        <!-- <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script> -->

        <!-- bootstrap -->
        <link rel="stylesheet" href="{{ url_for('static', filename='docs/css/bootstrap-3.3.2.min.css') }}" type="text/css">
        <script type="text/javascript" src="{{ url_for('static', filename='docs/js/bootstrap-3.3.2.min.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/bootstrap-multiselect.css') }}" type="text/css">
        <script type="text/javascript" src="{{ url_for('static', filename='dist/js/bootstrap-multiselect.js') }}"></script>
        <!--------------->
        
        <!-- JQUERY Select Areas plug-in -->
        <script type="text/javascript" src = "{{url_for('static',filename='js/jquery.selectareas.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='resources/jquery.selectareas.css')}}">
        <!--------------------------------->

        <!-- JQUERY Tool tips plug-in -->
        <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery-ui.min.css')}}">
        <script type="text/javascript" src = "{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
        <!------------------------------->

        <!-- JCanvas -->
        <script type="text/javascript" src = "{{url_for('static',filename='docs/js/jcanvas.min.js')}}"></script>
        <!------------->



        <!-- JExcel -->
        <!-- <link rel="stylesheet" href="{{url_for('static',filename='ce-master/dist/jexcel.css')}}" />
        <script src="{{url_for('static',filename='ce-master/dist/index.js')}}"></script>
        <script src="{{url_for('static',filename='ce-master/src/js/jexcel.core.js')}}"></script>
        <script src="{{url_for('static',filename='ce-master/src/js/jexcel.extensions.js')}}"></script>
        <script src="{{url_for('static',filename='ce-master/src/js/jexcel.formulars.js')}}"></script> -->
        <!------------>


        <!-- X-SpreadSheet -->
        <link rel="stylesheet" href="https://unpkg.com/x-data-spreadsheet@1.1.5/dist/xspreadsheet.css">
        <script src="https://unpkg.com/x-data-spreadsheet@1.1.5/dist/xspreadsheet.js"></script>
        <!------------------->

        <!-- CSS Loader -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css-loader.css') }}">
        <!---------------->


        
        <!-- Customization Functions -->
        <script src="/static/js/jspread.js"></script>
        <link rel="stylesheet" href="/static/css/jspread.css" type="text/css" />

        <!-- JSpreadsheet -->
        <!-- <script src="https://jspreadsheet.com/v8/jspreadsheet.js"></script>
        <script src="https://jsuites.net/v4/jsuites.js"></script>
        <link rel="stylesheet" href="https://jspreadsheet.com/v8/jspreadsheet.css" type="text/css" />
        <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />-->
        <script src="https://jspreadsheet.com/v7/jspreadsheet.js"></script>
        <script src="https://jsuites.net/v4/jsuites.js"></script>
        <link rel="stylesheet" href="https://jspreadsheet.com/v7/jspreadsheet.css" type="text/css" />
        <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

        <!-- JSpreadSheet Extension -->
        <!-- <script src="js/autoWidth.min.js"></script> -->
        <script src="/static/js/jquery.techbytarun.excelexportjs.js"></script>
        <script src="/static/js/autoWidth-8.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jszip@3.6.0/dist/jszip.min.js"></script>
        <script src="https://jspreadsheet.com/plugins/download.js"></script>
        <script src="https://jspreadsheet.com/v7/plugins/download.js"></script>


	<!-- <link rel="icon" href="{{ url_for('static', filename='css/image/icon.png') }}"> -->

        <script>
            var detected_areas = {{detected_areas | tojson | safe}};
            var file_name = `{{fileName}}`;
            var job_path = `{{url_for('static', filename='job_pdf')}}/${file_name}`;
            var img_path = `{{url_for('static', filename='img')}}/`;
            var split_progress = JSON.parse( '{{split_progress | tojson | safe}}' );
        </script>

        <script src="/static/js/workspace.js"></script>
        
	</head>

	<body>
        <div class="loader loader-default is-active" data-text="Loading..."></div>

        {% include "menu_template.html" %}

        <div class='center_text' style='display: none'>
            <div class='left_text'></div>
            <div class='right_text'></div>
        </div>

        <div id='page_list_box'>
            <div id='page_multiple_box'>
                <select id="page_multiple_selected" class="select" multiple="multiple">
                    <option value="all" selected="selected">All</option>
                    <option value="table">Table</option>
                    <option value="empty">Empty</option>
                    <option value="checked">Checked</option>
                    <option value="non_checked">non_checked</option>
                </select>
            </div>
        </div>
        <span id='page_list_size_btn'>▶</span>

       <table id='article_table'>
           <tr>
                <td>
                    <div id="wrapper">
                        <table id="top_tools">
                            <tr>
                                <td></td>
                                <td>
                                    <label title='Line Scale is the smallest length to detect PDF tables border lines'>
                                        ⯑ Line Scale&nbsp;<input style="width: 40px" type='text' id="line_scale" value="40">
                                    </label>
                                </td>
                                <td>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="areas">&nbsp;&nbsp;&nbsp;table_areas
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id='auto_detect' type='button' class='btn btn-success' value='Auto Detected'>
                                </td>
                                <td>
                                    <label>
                                        <input type='button' id="get_line_size" class="btn btn-warning" value="Get Line Size">
                                    </label>
                                </td>
                                <td>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" value="regions" checked>&nbsp;&nbsp;&nbsp;table_regions
                                    </label>
                                </td>
                            </tr>
                        </table>

                        
                        <img class="previewImg" id="prvImg"/>

                        <div class="image-decorator">
                            <img alt="Image principale" id="centerImg" class="nowImg"/>
                        </div>
                        
                        <img class="previewImg" id="nxtImg"/>
                        
                        <center>
                            <span class="arrow">◀</span>
                            <input id="check_page_btn" type="button" class="btn btn-lg btn-info" value="Check this page">

                            <span class="arrow">▶</span>
                        </center>
                    </div>
                </td>
                
                <td style="width: 120px;">
                    <input type="button" value="검출?" style="font-size: 18px; cursor:pointer;"/>
                    <br>
                    <input type="button" id="extract" value="추출▶" style="font-size: 18px; cursor:pointer;"/>
                </td>
                
                <td style="vertical-align: top">
                    <div id='table_show_type' style='float:right; display:none'>
                        <label class="radio-inline">
                            <input type="radio" name="showradio" value="gs" onclick='show_gs(table_data)' checked>Google Sheet
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="showradio" value="jss" onclick='show_jss(table_data)'>JSpreadSheet
                        </label>
                    </div>
                    <br>

                    <div id='table_printer'></div>
                    <a id="tests">다운로드</a>
                    <div id='spreadsheet'></div>
                </td>
            </tr>
       </table>
	</body>
</html>