/* .jexcel_overflow>tbody>tr>td {
    overflow: hidden;
    line-height: 1.5;
} */

/* fallback */

@font-face {
    font-family: '마루 부리';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v92/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

@font-face {
    font-family: '나눔바른고딕';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: '넥슨 고딕';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.GmarketSansMedium * {
    font-family: "Gmarket Sans", sans-serif;
}
.jejugothic * { 
 font-family: 'Jeju Gothic', sans-serif;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.nanumbarungothic * {
font-family: '나눔바른고딕', sans-serif;
}

.jss_overflow > tbody > tr > td {
    line-height: 1.8;
}

.jss_content {
    font-family: '나눔바른고딕';
}

/* reset */
button {
    padding:0;
    background:none;
    border:0;
    cursor:pointer;
}

/* 버튼 영역 */
.btnBox {
    text-align:center;
}

.popOpenBtnCmmn {
    width:200px; 
    height:60px; 
    background:#000; 
    color:#fff; 
    font-size:16px;
    opacity:0.7;
    transition:all 0.3s;
    
    /* z-index : -999; */
}

.popOpenBtnCmmn:hover {
    opacity:1;
}

/* 팝업 영역 */
.popCmmn {
    visibility: hidden;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  
  .popBg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index: -500;
  }
  
  .popInnerBox {
    position: relative;
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    /* position:absolute; */
    /* top:50%; */
    /* left:50%; */
    margin: 15vh auto;
    width:80%;
    height:70vh;
    /* transform:translate(-50%, -50%); */
    text-align:center;
    background:#fff;
    border-radius:5px;
    z-index : 999;
  }
  
  .popHead {
    padding:10px;
    background:#000;
    color:#fff;
    font-size:18px;
    /* z-index: -1s; */
  }
  
  .popBody {
    padding:10px;
    box-sizing:border-box;
    font-size:14px;
  }

.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
}
.popup-close:before, 
.popup-close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 20px;
    background-color: #F0F0F0;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
.popup-close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.popup-close:hover {
    opacity: 0.6;
}

  /* 팝업 영역 끝 */